{% extends 'base.html' %}

{% block title %} BlogPost {% endblock title %}
{%block blogactive %}active{%endblock blogactive%}
{% block body %}
{%load humanize%}
<div class="container my-3">
    <h2 class="blog-post-title">{{post.title}}</h2>
    <p class="blog-post-meta">{{post.timeStamp}} by <a href="/about">{{post.author}}</a></p>
    <p>{{post.content|safe}}</p>
    <hr>
</div>
<div class="container">
    <h2>Comments ({{comments.count}})</h2>
    <div class="my-2">
        {% if user.is_authenticated %}
        <form action="/blog/postComment" method="post">
            {% csrf_token %}
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Post Comment</label>
              <input type="text"class="form-control" name="comment" placeholder="Enter comment here">
            </div>
         
            <input type="hidden" name="postSno" value="{{post.sno}}" >
            <input type="hidden" name="postSno" value="" >
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        {% else %}
        <p>Please login to post a comment</p>
        {% endif %}
  
    </div>
      {% for comment in comments  %}
    <div class="row my-3">
        <div class="col-md-2">
            <img src="/static/img/user.png" alt="user">
        </div>
        <div class="col-md-10"><b>{{comment.user.username}} </b> at <span>{{comment.timestamp|naturaltime}}</span>
            <div>{{comment.comment}}</div>
        <div class="reply mx-0">
            
                <button class="btn btn-sm btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#replyBox{{comment.sno}}" aria-expanded="false" aria-controls="replyBox{{comment.sno}}">
                  Reply
                </button>
              <div class="collapse" id="replyBox{{comment.sno}}">
                <div class="card card-body my-2">
                    <form action="/blog/postComment" method="post">
                        {% csrf_token %}
                        <div class="mb-3">
                          <label for="comment" class="form-label">Post a Reply</label>
                          <input type="text"class="form-control" name="comment" placeholder="Enter relpy here">
                          <input type="hidden" name="parentSno" value="{{comment.sno}}">
                        </div>
                     
                        <input type="hidden" name="postSno" value="{{post.sno}}" >
                        <button type="submit" class="btn btn-primary">Submit</button>
                      </form>
                </div>
              </div> 
              <div class="replies bg-danger my-2">
                <br>
               
              </div>
        </div>
        </div>
    </div>
    {% endfor %}

</div>
{% endblock body %}